# API
WEBHOOK_SECRET=webhook_secret
UPLOAD_API_KEY=upload_api_key
SCANNER_SECRET_TOKEN=scanner_secret_token

# Supabase
SUPABASE_URL=https://projeto.supabase.co
SUPABASE_KEY=supabase_key

# Slack
SLACK_BOT_TOKEN=xoxb-slack_bot_token

# SSH Scanner
SSH_HOST=ip_do_servidor
SSH_USERNAME=usuario
SSH_PASSWORD=senha
SSH_PORT=22